{% extends "layout.html" %}
{% block title %}Criar postagem{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<form action={{ url_for('posts_routes.create') }} method="POST" enctype="multipart/form-data">
    <div class="container w-50">
        
            <div class="text-center">
                <h3>Criar postagem</h3>
            </div>
        
            <div class="row">
                <div class="col-5">
                    <label class="form-label">Foto:</label>
                    <input class="form-control" id="file" name="file" type="file" required>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label">Descrição:</label>
                    <input class="form-control" id="description" name="description" type="textarea" required>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary mb-3" type="submit">Cadastrar</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block js %}{% endblock %}